//colors
$white: #ffffff;
$grey: #979797;
$black: #000000;

//containers variables
$container: 1440px;
$desktop-xl: 1200px;
$desktop-xl-max: $desktop-xl - 1;
$desktop: 1024px;
$desktop-max: $desktop - 1;
$tablet-xl: 992px;
$tablet-xl-max: $tablet-xl - 1;
$tablet: 768px;
$tablet-max: $tablet - 1;
$mobile: 576px;
$mobile-max: $mobile - 1;

//font-family variables
//$Museo500: Museo500;
//$Museo700: Museo700;
//$OpenSans: OpenSans;
//$OpenSansBold: OpenSans-Bold;
//$OpenSansSemiBold: OpenSans-SemiBold;
